<!doctype html>
<html>
    <head>
        <title>Quail Engine</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdnabootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <style>
body        { padding-top:80px; }
        </style>
    </head>
    <body>
        <div class="container">

            <div class="jumbotron text-center">
                <h1>Quail Engine</h1>
                <form action="/query" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="query">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Search</button>
                </form>
            </div>

        </div>
    </body>
</html>
